aside {
  position: fixed;
  top: 50%;
  right: 0;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  @media print {
    aside {
      display: none !important; } }
  @media (max-width: 767px) {
    aside {
      position: relative;
      top: 0;
      right: auto;
      display: table;
      width: 100%;
      -ms-transform: none;
      transform: none; }
      aside ul {
        display: table-row; }
      aside li {
        display: table-cell;
        text-align: center;
        border-radius: 0 !important; }
      aside a {
        padding-right: 0;
        padding-left: 0; } }
  aside li {
    margin-top: 6px;
    transition: 0.2s linear;
    border-radius: 5px 0 0 5px;
    background-color: rgba(0, 0, 0, 0.8); }
    aside li a {
      display: inline-block;
      width: 100%;
      padding: 10px;
      text-decoration: none;
      color: #fff; }
    aside li:hover {
      background-color: rgba(55, 55, 55, 0.8); }

header {
  overflow: hidden;
  padding: 30px 45px;
  color: #fff;
  background-color: #222; }
  @media (max-width: 767px) {
    header {
      padding: 30px 10px; } }
  @media print {
    header {
      padding: 20px 45px; } }

.qrcode {
  float: left;
  margin: 0; }
  @media (max-width: 1024px) {
    .qrcode {
      display: none; } }
  @media print {
    .qrcode {
      display: block;
      margin-top: 5px; } }
  .qrcode img {
    width: 130px;
    height: 130px; }

.title {
  float: right;
  text-align: right; }
  @media (max-width: 767px) {
    .title {
      float: none;
      text-align: center; }
      .title h2 {
        padding: 0 6px; } }
  @media print {
    .title {
      float: right;
      text-align: right; } }
  .title h1 {
    font-size: 50px;
    line-height: 1;
    margin: 5px 0;
    padding: 5px 0; }
  .title h2 {
    font-size: 20.8px;
    font-weight: 400;
    margin: 5px 0;
    padding: 5px 6px; }

address {
  overflow-y: hidden; }

@media print {
  .phone {
    display: block; } }

@media print {
  .wechat {
    display: none; } }

.contacts {
  font-size: 18px;
  float: left;
  padding-left: 16px; }
  @media (max-width: 1024px) {
    .contacts {
      margin-top: 5px; }
      .contacts li {
        line-height: 1.6; } }
  @media print {
    .contacts {
      line-height: 1.4;
      margin-top: 0; } }
  .contacts li {
    font-style: initial;
    line-height: 1.4; }
  .contacts a {
    transition: 0.3s ease-out;
    text-decoration: none;
    color: #fff; }
    .contacts a:hover {
      color: #a3d3d1; }

section {
  margin-bottom: 14px; }
  @media print {
    section {
      margin-bottom: 8px; } }

@media print {
  dl {
    margin: 10px 0; }
  dd {
    line-height: 1.2;
    font-size: 14; } }

dd {
  line-height: 1.42; }

@media (min-width: 1024px) {
  .column-6 {
    float: left;
    width: 50%; } }

@media (max-width: 1023px) {
  .column-6 {
    width: 100%;
    padding-left: 0 !important; } }

@media print {
  .column-6 {
    float: left;
    width: 50%; } }

.column {
  padding-left: 15px; }

.content {
  overflow: hidden;
  padding: 30px 45px;
  background: #fff; }
  @media (max-width: 414px) {
    .content {
      padding: 30px 10px; } }
  @media print {
    .content {
      padding: 20px 20px !important; } }

.sec-title-wrapper {
  overflow-y: hidden; }
  .sec-title-wrapper .sec-title {
    float: left;
    margin: 0 0 0 10px;
    padding: 0; }
  .sec-title-wrapper .sec-zh {
    font-size: 20px;
    font-weight: 700;
    float: left; }
  .sec-title-wrapper .sec-en {
    font-size: 16px;
    font-weight: 700;
    font-variant: small-caps;
    float: left;
    clear: left;
    color: #565541; }

.sec-content {
  margin-bottom: 22px;
  margin-left: 20px; }

.timeline-wrapper {
  margin-top: -28px; }
  .timeline-wrapper ul {
    padding-top: 28px;
    border-left: 5px solid #ffea00; }
  .timeline-wrapper .timeline-title {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.33;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 2px 0 2px 22px;
    color: #222;
    border-radius: 5px;
    background: #ffea00; }
  .timeline-wrapper::after {
    float: left;
    width: 0;
    height: 0;
    margin-top: -23px;
    margin-left: 15px;
    content: "";
    border: 8px solid #ffea00;
    border-radius: 100%; }

.education .education-content {
  margin: 0; }

.education .education-name {
  font-size: 32px;
  margin: 6px 0 5px 26px; }

.education dd {
  margin-left: 27px; }

.language .language-cert-type {
  font-size: 20px;
  font-weight: 700;
  float: left;
  padding-bottom: 3px; }

.language .language-cert-wrapper {
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  -ms-flex-align: center;
  align-items: center; }

.language .progress {
  float: left;
  width: 78%;
  height: 25px;
  margin-top: 1.8px;
  margin-bottom: 5px;
  margin-left: 26px;
  border-radius: 4px;
  background: #5a5454; }
  @media (max-width: 414px) {
    .language .progress {
      width: 75%;
      margin-left: 10px; } }
  @media print {
    .language .progress {
      width: 75%;
      margin-left: 10px; } }
  .language .progress .progress-bar {
    height: 100%;
    border-radius: 4px;
    background: #ffea00; }
    .language .progress .progress-bar .progress-label {
      font-size: 19px;
      float: right;
      margin-right: 10px;
      color: #222; }

.language .language-skills li {
  line-height: 1.4; }
  @media print {
    .language .language-skills li {
      line-height: 1.2; } }

.experience {
  overflow-y: hidden; }
  .experience .experience-content {
    margin: 0; }
  .experience .experience-position {
    font-size: 18px;
    font-weight: 700;
    margin: 6px 0 5px 26px; }
  .experience .experience-task {
    font-size: 15px;
    margin-left: 27px; }
    @media print {
      .experience .experience-task {
        font-size: 14px; } }
  .experience .experience-time {
    font-size: 15px;
    float: right;
    margin-right: 10px; }
    @media print {
      .experience .experience-time {
        font-size: 14px; } }
  .experience .experience-link {
    display: inline-block;
    float: right;
    margin-right: 10px;
    padding: 0 3px;
    text-decoration: none;
    color: #ffea00;
    border-radius: 5px;
    background: #fff; }

@media print {
  .skills .skill-content {
    margin: 0; } }

.skills .skill-name {
  font-size: 18px;
  font-weight: 700;
  margin: 6px 0 5px 26px; }

.skills .skill-description {
  font-size: 15px;
  margin-left: 23px; }

footer {
  margin: 15px 6px; }
  @media print {
    footer {
      display: none; } }
  footer a {
    font-weight: 700;
    text-decoration: none;
    color: teal; }
  footer p {
    text-align: center; }

* {
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h3 {
  font-size: 20px; }

body {
  font-family: "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  background: #e0e0e0;
  -webkit-font-smoothing: antialiased; }

a,
strong {
  color: teal; }

strong {
  font-weight: 700; }

.container {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 2px 2px 5px; }
  @media (min-width: 1024px) {
    .container {
      width: 970px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 750px; } }
  @media (max-width: 414px) {
    .container {
      margin-top: 0;
      padding: 5px 0;
      box-shadow: 0 0 0; } }
  @media print {
    .container {
      margin-top: 0;
      box-shadow: 0 0 0; } }
