@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.icon-weibo:before {
  content: '\e600';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-mail:before {
  content: '\e602';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-chat:before {
  font-size: 26px;
  content: '\e601';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  line-height: 32px;
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #333; }

.icon-star:before {
  font-size: 20px;
  padding-right: 3px;
  content: '\e606';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-wechat:before {
  content: '\e601';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-book:before {
  content: '\e607';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  line-height: 32px;
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #333; }

.icon-gears:before {
  content: '\e608';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -22px;
  padding: 6px;
  text-align: center;
  color: #222;
  border-radius: 50%;
  background: #ffea00; }

.icon-cloud:before {
  font-size: 29px;
  content: '\e609';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -22px;
  padding: 6px;
  text-align: center;
  color: #222;
  border-radius: 50%;
  background: #ffea00; }

.icon-gear:before {
  content: '\e60a';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  padding-right: 3px;
  color: #333; }

.icon-gear-big:before {
  content: '\e60a';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  line-height: 32px;
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #333; }

.icon-rocket:before {
  font-size: 26px;
  content: '\e60b';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  line-height: 32px;
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #333; }

.icon-github:before {
  content: '\e603';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-blog:before {
  content: '\e604';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-bag:before {
  font-size: 26px;
  content: '\e60c';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -22px;
  padding: 6px;
  text-align: center;
  color: #222;
  border-radius: 50%;
  background: #ffea00; }

.icon-wrench:before {
  font-size: 28px;
  content: '\e60d';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  line-height: 32px;
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #333; }

.icon-flags:before {
  content: '\e60f';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -22px;
  padding: 6px;
  text-align: center;
  color: #222;
  border-radius: 50%;
  background: #ffea00; }

.icon-hat:before {
  content: '\e610';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  padding-right: 3px;
  color: #333; }

.icon-trophy:before {
  content: '\e60e';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-phone:before {
  content: '\e611';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }
ight: 3px; }
